* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

body {
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.list-app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;

  background: repeating-linear-gradient(100deg, snow, snow, #c2c2c2, snow, snow);
  background-size: 400% 100%;

  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  animation: gradient 10s 5s linear infinite alternate;
}

h1 {
  margin: 32px 0;
  color: black;
  font-size: 32px;
}

.list-form {
  margin-bottom: 32px;
}

.list-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0082c8;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.list-input::placeholder {
  color: black;
}

.list-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #0082c8;
  color: #fff;
  text-transform: capitalize;
}
.list-button:focus {
  outline: 5px solid orange;
}

.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: black;
  background: lightgrey;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.edit-icon {
  color: #fff;
}

.bag-svg {
  width: 80px;
  display: inline-block;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
